@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0; list-style:none;}
div,table,tr,td,p,span,a,ul,li,dl,dd,dt,ol,h1,h2,h3,h4,h5,h6,input{ margin:0; padding:0;}
html{ font-size:20px;}
@media screen and (max-width:4000px){html{font-size:45px;}}
@media screen and (max-width:3000px){html{font-size:30px;}}
@media screen and (max-width:2500px){html{font-size:25px;}}
@media screen and (max-width:1600px){html{font-size:20px;}}
body{ margin:0;
	padding:0;
	list-style:none;
	font:normal 0.6rem/1.1rem 'Microsoft Yahei',arial, Helvetica, sans-serif,sans-serif;
	color:#fff;
	}
/*-- Bug--*/
.clearfix:after {content:""; display:block; height:0; clear:both; overflow:hidden;}
.clearfix {display:inline-block;}/*ie7*/
.clearfix {display:block;}/*ie5,ie6*/
.clearfix {zoom:1;}
.page{background:url(../images/pagebj.jpg) repeat; width:100%; height:100%; position:absolute; left:0; top:0;}
.bornone{ border:none;}
/*-- Bug--*/
.clearboth {clear:both;}
.clearfix:after {content:""; display:block; height:0; clear:both; overflow:hidden;}
.clearfix {display:inline-block;}/*ie7*/
.clearfix {display:block;}/*ie5,ie6*/
.clearfix {zoom:1;}
/*浮动*/
.floleft{float:left;}
.floright,.ser_right{float:right;}
/*page*/
.page{background:url(../images/hbu2.png) repeat; width:100%;position:absolute; left:0; top:0;}
.bg_grid,.bg_deepblue{background:url(../images/chu_map_bg.png) center no-repeat; width:100%; position:relative; height:auto;}
.all-map{ width:96%; height:96%; position:relative; left:0; top:2%;}
.miit_map_tip_ul{ position:absolute; padding:0.25rem; border-radius:0.1rem; color:#fff; left:2%; bottom:5%;}
.miit_map_tip_ul td{ padding:0 0.5rem 0.5rem; line-height:1.2rem;}
.miit_map_right{ border:0.05rem solid #08121d; border-top:0; background:url(../images/con_bj.png) repeat; position:absolute;
	z-index:3;
	right:0.8rem;
	}
.miit_tab_h3{background:#116cb3; height:2rem; line-height:2rem; text-align:center; color:#fff; font-size:0.7rem;}
.bg_ti_bj{ background:url(../images/ti_bj.png) repeat;}
.txtmid{ text-align:center;}
.miit_arr_area{ position:absolute; right:0; top:0.8rem; width:2rem; }
.miit_arr_left,.miit_arr_right{ width:0; height:0; cursor:pointer;}
.miit_arr_left{
	border-top:0.23rem solid transparent;
    border-right:0.46rem solid #fff;
    border-bottom:0.23rem solid transparent;
	margin-right:0.2rem;
	}
.miit_arr_right{ 
	border-top:0.23rem solid transparent;
    border-left:0.46rem solid #fff;
    border-bottom:0.23rem solid transparent;
	}
.miit_arr_left:hover,.miit_arr_right:hover{border-color:#fcff00;border-top:0.25rem solid transparent;border-bottom:0.25rem solid transparent;}
.miit_tab_title{ color:#fff; line-height:1.8rem;}
.miit_tab_title th{ background:url(../images/ti_bj.png) repeat;}
.inter_tab_h3_expand,.inter_tab_h3_back{ 
	position:absolute; left:0; top:0; display:inline-block; width:2rem; height:2rem; cursor:pointer;}
.inter_tab_h3_back{ background:url(../images/inter_icon_back.png) center center no-repeat #094777;}
.inter_tab_h3_expand{ background:url(../images/inter_icon_expand.png) center center no-repeat #094777;}
.miit_tab_info{ table-layout:fixed; color:#fff; line-height:1.8rem;}
.miit_tab_num{ display:inline-block; width:1rem; height:1rem; background:#328efe; border-radius:0.1rem; line-height:1rem;
	color:#fff; text-align:center;}
/*提示颜色小方块*/
.span_bgcor_green,.span_bgcor_yellow,.span_bgcor_red{ display:inline-block; width:0.6rem; height:0.6rem;}
.span_bgcor_green{ background:#018607;}
.span_bgcor_yellow{ background:#eeb209;}
.span_bgcor_red{ background:#e91b30;}
.span_cor_green{ color:#018607;}
.span_cor_yellow{ color:#eeb209;}
.span_cor_red{ color:#e91b30;}
.w230{ width:12.5rem;}
/*tab*/
.tab_prode{height:1.3rem; line-height:1.3rem; background:#328efe; border-radius:0.2rem;}
.tab_prode span{ width:50%; color:#fff; text-align:center; float:left; cursor:pointer;}
.tab_prode span:hover{ background:#56a2ff;}
.tab_prode span.p_click,.tab_prode span.p_click:hover{ background:#ffce54;color:#000; font-weight:bold;border-radius:0.2rem;}
/*tips*/
.chu_map_title{  position:absolute; z-index:3; top:5%; height:2.7rem; left:42%; color:#fff; text-align:center;}
.chu_map_title h2,.name_y{ border-radius:0.2rem;
	display:inline-block; font-weight:normal; padding:0 1rem; height:2.2rem; line-height:2rem; font-size:1.2rem; 
	background:url(../images/ti_bj.png) repeat;}
.chu_map_title h3{font-size:0.8rem;font-weight:normal; padding-top:1rem;}
.chu_map_title h3 span{ color:#fcff00; font-size:1.2rem;background:url(../images/ti_bj.png) repeat; padding:0 0.4rem;}
.miit_tab_title_chu{background:url(../images/ti_bj.png) repeat;}
/*东盟十国*/
.asean_area{ width:2.5rem; height:7.5rem; position:absolute; z-index:3; right:16rem; top:50%; margin-top:-2.5rem;}
.asean_area span{ text-align:center; float:left; cursor:pointer; width:2.5rem; height:1.5rem; line-height:1.5rem; color:#fff;}
.asean_area span.acean_click,.asean_area span.acean_click:hover{ background:#ffce54; color:#333;}
.asean_area span:hover{ background:#0f4166;}

.asean10099_area{ width:2.5rem; height:6rem; position:absolute; z-index:3; right:16rem; top:50%; margin-top:-2.5rem;}
.asean10099_area span{ text-align:center; float:left; cursor:pointer; width:2.5rem; height:1.5rem; line-height:1.5rem; color:#fff;}
.asean10099_area span.acean_click,.asean10099_area span.acean_click:hover{ background:#ffce54; color:#333;}
.asean10099_area span:hover{ background:#0f4166;}

.name_t{ width:100%; text-align:center; padding-top:1%;}
.unicon-bj{ background:url(../images/bj2.png) no-repeat center; width:100%; height:100%; z-index:2; position:relative;}
/*行业展示*/
.all_top{ background:url(../images/top_bj.png) no-repeat center; background-size:100% 100%; width:100%; height:1.9rem;line-height:1.8rem; font-size:1.1rem;
	color:#e7e7ff; text-align:center;
	}
/*左边结构*/
.chu_left_box{float:left; width:75%; overflow:hidden;}
.chu_left_box_ul{ width:99%; height:3rem; padding:1% 0 1% 1%; margin-left:1.5rem; color:#c7d3e2; font-size:0.7rem; background:#04111d; line-height:2.25rem;}
.chu_ul_01,.chu_ul_02,.chu_ul_03,.chu_ul_04,.chu_ul_05{
	width:11%;float:left;
	padding-left:6%;
	height:3rem;
	}
.chu_ul_01 span,.chu_ul_02 span,.chu_ul_03 span,.chu_ul_04 span,.chu_ul_05 span{ width:100%; line-height:1.3rem; float:left;}
.chu_ul_01{ background:url(../images/icon_01zhengti.png) 0.6rem center no-repeat;}
.chu_ul_02{ background:url(../images/icon_02xinwen.png) 0.6rem center no-repeat;}
.chu_ul_03{ background:url(../images/icon_03shipin.png) 0.6rem center no-repeat;}
.chu_ul_04{ background:url(../images/icon_04dianshang.png) 0.5rem center no-repeat;}
.chu_ul_05{ background:url(../images/icon_05sousuo.png) 0.6rem center no-repeat; border-right:0;}
.chu_ul_01 b,.chu_ul_02 b,.chu_ul_03 b,.chu_ul_04 b,.chu_ul_05 b{ font-size:0.6rem; font-weight:normal;}
.cor_green1{ color:#51f27a;}
.cor_blue5{ color:#48d2ff;}
.cor_red1{ color:#f37190;}
.cor_purple{ color:#d196ff;}
.cor_green2{ color:#faf84b;}
/*表格部分*/
.chu_showtab{ padding-top:1rem;height:16rem; color:#fff;}
.chu_showtab_h2{ height:2.2rem;line-height:2.2rem; font-size:0.9rem; font-weight:bold; text-align:center; position:relative;}
.chu_h2_line_cor{position:absolute; right:1.8rem; bottom:0; height:1.8rem;}
.chu_h2_line_cor1,.chu_h2_line_cor2,.chu_h2_line_cor3,.chu_h2_line_cor4{ padding-left:1.8rem; font-size:0.6rem; font-weight:normal; color:#c7d3e2;}
.chu_h2_line_cor1{ background:url(../images/eg_chu_h2_line_cor1.png) left center no-repeat;}
.chu_h2_line_cor2{ background:url(../images/eg_chu_h2_line_cor2.png) left center no-repeat;}
.chu_h2_line_cor3{ background:url(../images/eg_chu_h2_line_cor3.png) left center no-repeat;}
.chu_h2_line_cor4{ background:url(../images/eg_chu_h2_line_cor4.png) left center no-repeat;}
/*右边结构*/
.chu_right_box{float:right; width:23%; margin-right:1%; overflow:hidden; background:rgba(5,21,33,.8);}
.chu_tab_ul{ width:100%; height:1.75rem; background:#04111d; color:#fff;}
.chu_tab_ul li{ width:24.5%; height:1.7rem; float:left; border-top:0.05rem solid #04111d;  border-bottom:0.05rem solid #04111d; border-right:0.05rem solid #353f49; text-align:center; line-height:1.65rem; cursor:pointer;}
.chu_tab_ul li.nobd{border-right:none;}
.chu_tab_ul li.current_tab_li{ background:url(../images/dns_on.png) no-repeat 100% 100%;}
/*表头*/
.chu_tab_title,.chu_tab_info{text-align:center; table-layout:fixed; width:100%}
.chu_tab_title{ background:rgba(8,46,148,.4); border:0.05rem solid #214058; border-top:0.05rem solid #04111d; color:#6ba7d8; font-size:0.6rem; line-height:1.3rem;}
.chu_tab_info{ padding:0.25rem; color:#fff; font-size:0.7rem;}
.chu_tab_info td{ height:1.7rem;}
.chu_tab_info .bg_gehang td{ background:rgba(8,46,148,.4);}
.bj3{background:#0d273e;}
.h20{ height:1rem; width:100%; float:left;}.unicon-logo{ font-size:0.8rem; height:1.9rem;
	line-height:2rem;
	overflow:hidden;
	width:100%;
	position:absolute;
	left:0;
	z-index:2;
	}
.kong{ width:7rem; float:left;height:1.9rem; background:url(../images/unicon_logo.png) no-repeat bottom left; background-size:auto 95%;}
/*监测点图例*/
.map_tip_ul_blue{ background:url(../images/map_tip_ul_blue.png) 0.5rem 0.5rem no-repeat;}
.map_tip_ul_green{ background:url(../images/map_tip_ul_green.png) 0.5rem 0.5rem no-repeat;}
.map_tip_ul_grey{ background:url(../images/map_tip_ul_grey.png) 0.5rem 0.5rem no-repeat;}
.map_tip_ul{ position:absolute; padding-top:0.25rem; border-radius:0.1rem; color:#fff;left:0.65rem; bottom:0; width:7.5rem; height:5rem; z-index:3;}
.map_tip_ul li{ height:1.5rem; line-height:1.5rem; padding-left:1.6rem; color:#fff;}
.clist{ width:1rem; background:#102635; height:3rem; color:#fff; line-height:1.5rem; float:left; font-size:0.7rem; text-align:center}
/*国际网关*/
.left_title{ background:url(../images/plate_tit.png) no-repeat center; background-size:100% 100%; height:1.8rem;
	line-height:1.6rem;
	color:#a7cdff;
	padding-left:4.6rem;
	font-size:0.7rem;
	width:4.5rem;
	}
.yib-c{ width:100%; padding-top:0.5rem; height:7.2rem;}
.yibp{ width:13.5rem; position:absolute; left:0.2rem; padding-top:2rem; z-index:4; float:left;}
.yip-l{ width:1.2rem; background:url(../images/yib-l.png) no-repeat center;height:4.4rem; padding:2.5rem 0.4rem 0rem 1rem; float:left; text-align:center;
	font-size:0.7rem; color:#0fffff; line-height:1rem;}
.yip-r{ width:2.7rem; height:8rem; float:left;}
.yip-m{ width:7rem; float:left;height:7rem;}
.top6{  position:absolute;left:1rem;height:7.5rem; z-index:5;width:97%}
.yip-m2{ width:16%; float:left;}
.top6-p{ width:7rem; height:7rem; float:left; text-align:center;}
.top6-name{ background:url(../images/bat_tit2.png) no-repeat center;  background-size:100% 100%;
	height:0.7rem; width:7rem; line-height:0.7rem;margin:0.25rem 0px;color:#a7cdff;
	float:left; text-align:center;
 }
 .yip-m,.top6-p{ background:url(../images/yibp-bj.png) no-repeat center;background-size: 100% 100%;}
 .left_title2{ background:url(../images/plate_tit_h.png) no-repeat center;
 	width:1rem;
	height:6rem;
	float:left;
	font-size:0.7rem;
	color:#a7cdff;
	text-align:center;
	padding:0px 0.8rem;
	padding-top:1.5rem;
	}